.header {
  max-width: 100%;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  padding: 45px 200px 41px;
}

@media screen and (max-width: 984px) {
  .header {
    padding-left: 100px;
    padding-right: 100px;
  }
}
  
@media screen and (max-width: 568px) {
  .header {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media screen and (max-width: 320px) {
  .header {
    padding-left: 0;
    padding-right: 0;
    padding-top: 28px;
  }
}