.popup__button {
  background-color: #000;
  color: #fff;
  border-radius: 2px;
  width: 100%;
  min-height: 50px;
  padding: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  transition: 0.3s ease;
  cursor: pointer;
}

.popup__button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 568px) {
  .popup__button {
    font-size: 14px;
    line-height: 17px;
  }
}