.popup__input {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  border: 0;
  padding: 0;
  border-bottom: rgba(0, 0, 0, 0.2) 1px solid;
  width: 100%;
  min-height: 27px;
  display: block;
}