.auth__fieldset {
  position: relative;
  margin: 0;
  padding: 0;
  border: none;
  width: 100%;
  display: block;
  padding-bottom: 30px;
  max-height: 27px;
  color: #CCC;
  background-color: transparent;
}

.auth__fieldset:last-child {
  padding-bottom: 216px;
}

@media screen and (max-width: 568px) {
  .auth__fieldset:last-child {
    padding-bottom: 173px;
    /* padding: 25px 22px; */
  }
}
