.auth__input {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  border: 0;
  padding: 0;
  border-bottom: 2px solid #CCCCCC;
  width: 100%;
  min-height: 27px;
  display: block;
  background-color: transparent;
  color: #CCC;
  
}
